@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Font family utilities */
  --font-sans: var(--font-inter); /* font-sans → Inter */
  --font-mono: var(--font-geist-mono);
  --font-crimson-pro: var(--font-crimson-pro); /* font-crimson-pro */
  --font-crimson-text: var(--font-crimson-text); /* font-crimson-text */
  --font-cinzel: var(--font-cinzel-deco); /* font-cinzel */
}

@layer components {
  .section-title {
    @apply font-sans font-semibold uppercase;
  }

  .section-headline {
    @apply font-crimson-text text-4xl tracking-tight;
  }

  .section-subheadline {
    @apply font-sans;
  }

  .grid-12 {
    @apply w-full grid grid-cols-12 gap-6;
  }

  .section-layout {
    @apply w-full px-8 py-16;
  }
}
